#rubah{
    color:blue;
}
h1{
	color: orange;
	text-align: center;
}

.kotak{
	padding: 50px;
	width: 100px;
	color: #fff;
	margin: 10px;
	background: orange;	
}

#kotak{
	width: 400px;
	color: #fff;
	background: blue;
	padding: 50px;
}